In [1]:
import pyodbc

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI\MSSQLSERVER01;'
                      'Database=AdventureWorks2019;'
                      'Trusted_Connection=yes;')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT top 5 * FROM [Person].[Person]')

for i in cursor:
    print(i)

(1, 'EM', False, None, 'Ken', 'J', 'SÃ¡nchez', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '92C4279F-1207-48A3-8448-4636514EB7E2', datetime.datetime(2009, 1, 7, 0, 0))
(2, 'EM', False, None, 'Terri', 'Lee', 'Duffy', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'D8763459-8AA8-47CC-AFF7-C9079AF79033', datetime.datetime(2008, 1, 24, 0, 0))
(3, 'EM', False, None, 'Roberto', None, 'Tamburello', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'E1A2555E-0828-434B-A33B-6F38136A37DE', datetime.datetime(2007, 11, 4, 0, 0))
(4, 'EM', False, None, 'Rob', None, 'Walters', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F2D7CE06-38B3-4357-805B-F4B6B71C01FF', datetime.datetime(2007, 11, 28, 0, 0))
(5, 'EM', False, 'Ms.', 'Gail', 'A', 'Erickson', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF', datetime.datetime(2007, 12, 30, 0, 0))

In [5]:
conn.close()

In [6]:
cursor.execute('SELECT top 5 * FROM [Person].[Person]')

for i in cursor:
    print(i)

ProgrammingError: The cursor's connection has been closed.

In [8]:
conn1 = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI;'
                       'user="sa2";'
                       'password="password";'
                      'Database=SQLInterview;'
                      'Trusted_Connection=yes;')

In [9]:
cursor1 = conn1.cursor()

In [10]:
cursor1.execute('select * from Table_1')
for i in cursor1:
    print(i)

('HR        ', '5000      ', 'a', 1)
('HR        ', '5000      ', 'b', 2)
('HR        ', '6000      ', 'c', 3)
('IT        ', '4000      ', 'D', 4)
('IT        ', '6000      ', 'E', 5)
('IT        ', '4000      ', 'F', 6)
('HR        ', '6000      ', 'G', 7)
('HR        ', '7000      ', 'H', 8)
('HR        ', '5000      ', 'I', 9)
('HR        ', '1200      ', 'k', 10)

In [11]:
conn1.close()