In [1]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI\MSSQLSERVER01;'
                      'Database=PythonSQL;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [ ]:
sql = """ drop table EMPLO"""