In [6]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI\MSSQLSERVER01;'
                      'Database=PythonSQL;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [3]:
cursor.execute(""" Insert into employee (First_name, Last_name) values ('a','b')""")

In [ ]:
cursor.execute(""" Insert into employee (First_name, Last_name,Age,Income) values ('a','b',23,10000)""")

In [4]:
conn.commit()

In [5]:
conn.close()