In [1]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI\MSSQLSERVER01;'
                      'Database=AdventureWorks2019;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [2]:
sql = """ SELECT top 5 * FROM [Person].[Person] where Title is not null """
cursor.execute(sql)

In [3]:
for i in cursor:
    print(i)

(5, 'EM', False, 'Ms.', 'Gail', 'A', 'Erickson', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF', datetime.datetime(2007, 12, 30, 0, 0))
(6, 'EM', False, 'Mr.', 'Jossef', 'H', 'Goldberg', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F', datetime.datetime(2013, 12, 16, 0, 0))
(13, 'EM', False, 'Ms.', 'Janice', 'M', 'Galvin', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '34EB99E0-7042-4DC1-A2FD-BDA290FF0E07', datetime.datetime(2010, 12, 16, 0, 0))
(24, 'EM', False, 'Ms.', 'Jill', 'A', 'Williams', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '3F605060-96AD-4201-9BE2-BFE7A3C4E468', datetime.datetime(2009, 1, 11, 0, 0))
(139, 'EM', False, 'Mr.', 'Hung-Fu', 'T', 'Ting', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '739C7553-13E5-4F36-86F6-4775645547AE', datetime.datetime(2009, 12, 30, 0, 0))

In [4]:
sql = ''' SELECT top 5 * FROM [Person].[Person] where Title ='Mr.' '''
cursor.execute(sql)

for i in cursor:
    print(i)

(6, 'EM', False, 'Mr.', 'Jossef', 'H', 'Goldberg', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F', datetime.datetime(2013, 12, 16, 0, 0))
(139, 'EM', False, 'Mr.', 'Hung-Fu', 'T', 'Ting', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '739C7553-13E5-4F36-86F6-4775645547AE', datetime.datetime(2009, 12, 30, 0, 0))
(273, 'EM', False, 'Mr.', 'Brian', 'S', 'Welcker', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0950A366-1EEE-4516-86E0-6F2F94CE1046', datetime.datetime(2011, 2, 8, 0, 0))
(284, 'SP', False, 'Mr.', 'Tete', 'A', 'Mensa-Annan', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F5BED54C-DF64-402C-93BD-7CFD1F79DEEE', datetime.datetime(2012, 9, 23, 0, 0))
(285, 'SP', False, 'Mr.', 'Syed', 'E', 'Abbas', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'FF284881-01C2-4C77-95A7-4DB96F59BB70', datetime.datetime(2013, 3, 7, 0, 0))

In [5]:
sql = ''' SELECT top 5 Title + ' ' + FirstName + ' ' + MiddleName + ' ' + LastName as name, * FROM [Person].[Person] 
where Title ='Mr.' '''
cursor.execute(sql)

for i in cursor:
    print(i)

('Mr. Jossef H Goldberg', 6, 'EM', False, 'Mr.', 'Jossef', 'H', 'Goldberg', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F', datetime.datetime(2013, 12, 16, 0, 0))
('Mr. Hung-Fu T Ting', 139, 'EM', False, 'Mr.', 'Hung-Fu', 'T', 'Ting', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '739C7553-13E5-4F36-86F6-4775645547AE', datetime.datetime(2009, 12, 30, 0, 0))
('Mr. Brian S Welcker', 273, 'EM', False, 'Mr.', 'Brian', 'S', 'Welcker', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0950A366-1EEE-4516-86E0-6F2F94CE1046', datetime.datetime(2011, 2, 8, 0, 0))
('Mr. Tete A Mensa-Annan', 284, 'SP', False, 'Mr.', 'Tete', 'A', 'Mensa-Annan', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F5BED54C-DF64-402C-93BD-7CFD1F79DEEE', datetime.datetime(2012, 9, 23, 0, 0))
('Mr. Syed E Abbas', 285, 'SP', False, 'Mr.', 'Syed', 'E', 'Abbas', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'FF284881-01C2-4C77-95A7-4DB96F59BB70', datetime.datetime(2013, 3, 7, 0, 0))

In [7]:
sql = ''' SELECT distinct Title, COUNT(1) as totalcount FROM [Person].[Person] group by Title  '''
cursor.execute(sql)

for i in cursor:
    print(i)

('Sr.', 11)
('Mrs.', 2)
(None, 18963)
('Sra.', 3)
('Ms.', 415)
('Ms', 1)
('Mr.', 577)

In [8]:
import pandas as pd

In [9]:
sql = ''' SELECT top 5 Title + ' ' + FirstName + ' ' + MiddleName + ' ' + LastName as name, * FROM [Person].[Person] 
where Title ='Mr.' '''
df = pd.read_sql_query(sql,conn)
print(df)

                     name  BusinessEntityID PersonType  NameStyle Title  \
0   Mr. Jossef H Goldberg                 6         EM      False   Mr.
1      Mr. Hung-Fu T Ting               139         EM      False   Mr.
2     Mr. Brian S Welcker               273         EM      False   Mr.
3  Mr. Tete A Mensa-Annan               284         SP      False   Mr.
4        Mr. Syed E Abbas               285         SP      False   Mr.

  FirstName MiddleName     LastName Suffix  EmailPromotion  \
0    Jossef          H     Goldberg   None               0
1   Hung-Fu          T         Ting   None               0
2     Brian          S      Welcker   None               0
3      Tete          A  Mensa-Annan   None               1
4      Syed          E        Abbas   None               0

  AdditionalContactInfo                                       Demographics  \
0                  None  <IndividualSurvey xmlns="http://schemas.micros...
1                  None  <IndividualSurvey xmlns="http://schemas.micros...
2                  None  <IndividualSurvey xmlns="http://schemas.micros...
3                  None  <IndividualSurvey xmlns="http://schemas.micros...
4                  None  <IndividualSurvey xmlns="http://schemas.micros...

                                rowguid ModifiedDate
0  0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F   2013-12-16
1  739C7553-13E5-4F36-86F6-4775645547AE   2009-12-30
2  0950A366-1EEE-4516-86E0-6F2F94CE1046   2011-02-08
3  F5BED54C-DF64-402C-93BD-7CFD1F79DEEE   2012-09-23
4  FF284881-01C2-4C77-95A7-4DB96F59BB70   2013-03-07